* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #106f42;
  text-align: center;
  align-items: center;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.navbar li {
  list-style: none;
  padding: 25px;
  gap: 15px;
}

.list-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar h1 {
  color: aliceblue;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
}

.navbar li a:hover {
  border-bottom: 1px solid white;
}

#home {
  background-image: url(https://images.unsplash.com/photo-1637666133087-23b7138ea721?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTQzfHxneW18ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
